<div class="row">
    <div id="color-footer" class="footer col-md-12">
        <div class="text-center p-4">
            <img src="http://shaktiakash.com.br/wp-content/uploads/2020/11/facebook-1.png" />
            <img src="http://shaktiakash.com.br/wp-content/uploads/2020/11/instagram-1.png" />
            <img src="http://shaktiakash.com.br/wp-content/uploads/2020/11/twitter-1.png" />
        </div>
    </div>
</div>