<div class="container-fluid">
    <div class="row">
        <div id="color-top" class="header class-md-12 text-center p-2">
            <img class="" src="http://shaktiakash.com.br/wp-content/uploads/2020/11/logo.png" />
        </div>
    </div>
    <div class="row">
        <div id="color-menu" class="menu col-md-12">
            <ul class="nav justify-content-center ">
                {{!-- <li class="nav-item">
                    <a class="nav-link active color-menu" href="/links/admin">Admin</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link active color-menu" href="/links/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active color-menu" href="/links/contact">Contato</a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link active color-menu" href="/links">Listas</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link active color-menu" href="/links/add">Suggestões</a>
                </li>
            </ul>
        </div>
    </div>
</div>