<div class="row">
    <div id="color-body" class="col-md-12">
        <br /><br />
        <div class="col-md-12 text-center">
            <h5>ENTRE EM CONTATO</h5>
            <p><strong>Este é o nosso principal meio de comunicação, sinta-se a vontade e entre em contato</strong></p>
            <br />
        </div>
        <div class="col-md-12 text-center">
            <p>RestaurantePremiorX@gmail.com.br<br />
                +55 (43) 99169-0000<br />
                Florianópolis - SC<br />
            </p>
        </div>
        <br />
        <div class="col-md-12 text-center">
            <a href="/links/add"><button type="button" class="btn btn-info">Dar opinião ou sugestão</button></a>
        </div>
        <br /><br /><br />
    </div>
</div>