<div class="row">
    <div id="color-body" class="col-md-12">
        <br /><br />
        <div class="col-md-12 text-center">
            <h5>Não foi possível fazer o seu Login</h5>
            <p><strong>Entre em contato com o administrador do sistema</strong></p>
            <br />
        </div>
        <div class="col-md-12 text-center">
            <p>Um dos seus dados estam incorretor !<br />
                Favor atualizar com o administrador da Página<br />
                Sistema de Sugestões de Restaurantes<br />
            </p>
        </div>
        <br />
        <div class="col-md-12 text-center">
            <a href="/links/admin"><button type="button" class="btn btn-info">Retornar para o Login</button></a>
        </div>
        <br /><br /><br />
    </div>
</div>