<div class="row">
    <div id="color-body" class="col-md-12">
        <br /><br />
        <div class="col-md-12 text-center">
            <h5>Seja Bem Vindo</h5>
            <p><strong>Conhença mais sobre nós e deixe a sua opinião</strong></p>
            <br />
        </div>
        <div class="col-md-12 text-center">
            <div class="row col-md-6 mx-auto">
                <p>
                    E vem sendo utilizado desde o século XVI, quando um impressor
                    desconhecido pegou uma bandeja de tipos e os embaralhou para
                    fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a
                    cinco séculos, como também ao salto para a editoração eletrônica,
                    permanecendo essencialmente inalterado. Se popularizou na década de 60,
                    quando a Letraset lançou decalques contendo passagens de Lorem Ipsum,
                    e mais recentemente quando passou a ser integrado a softwares de
                    editoração eletrônica como Aldus PageMaker.
                </p>
            </div>
        </div>
        <br /><br />
        <div class="col-md-12 text-center">
            <h5>Nosso Objetivo</h5>
            <p><strong>Conhença mais sobre nós e deixe a sua opinião</strong></p>
            <br />
        </div>
        <div class="row">
            <div class="col-md-4 text-center mx-auto">
                <img src="http://shaktiakash.com.br/wp-content/uploads/2020/11/revisao-do-cliente-1.png" />
                <article class=""><strong>Experiência</strong>
                    <br /><br />
                    É importante para nós!
                </article>
            </div>
            <div class="col-md-4 text-center mx-auto">
                <img src="http://shaktiakash.com.br/wp-content/uploads/2020/11/avaliacao-1.png" />
                <article class="">
                    <strong>Atendimento</strong>
                    <br /><br />
                    Deixe sua avaliação!
                </article>
            </div>
        </div>
    </div>
</div>